<div id="content">
  <ejs-tab id="element">
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText>
          <div>Barra Lateral</div>
        </ng-template>
        <ng-template #content>
          <div class="align-content">
            <app-style-side-bar></app-style-side-bar>
          </div>
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText>
          <div>Barra de Navegação</div>
        </ng-template>
        <ng-template #content>
          <div class="statistic-content"></div>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</div>
