::ng-deep {
  #content {
    width: 100%;
    padding: 10px;
    transition: all 0.3s;
    overflow: hidden;
  }

  .fill {
    height: calc(100vh - 50px);
  }

  .modal-large {
    max-width: calc(100vw - 45vw);
  }

  .modal-xl {
    max-width: calc(100vw - 45vw);
  }

  .page-content {
    margin-top: 25px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: sans-serif;
  }

  p {
    font-family: sans-serif;
  }

  a {
    font-family: sans-serif;
  }

  .e-info-dark {
    background-color: #000c49;
    color: white;
  }

  .e-info-dark:hover {
    background-color: #000c67;
    color: white;
  }

  .e-info-dark:active {
    background-color: #000c67;
    color: white;
  }

  .e-info-dark:focus {
    background-color: #000c67;
    color: white;
  }

  .e-info-medium {
    background-color: #1d2fb7;
    color: white;
  }

  .e-info-medium:hover {
    background-color: #1d2fb7;
    color: white;
  }

  .e-info-medium:active {
    background-color: #1d2fb7;
    color: white;
  }

  .e-info-medium:focus {
    background-color: #1d2fb7;
    color: white;
  }
}
