<div id="content" class="overflow">
  <ejs-tab id="element">
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText>
          <div>Notícias</div>
        </ng-template>
        <ng-template #content>
          <div class="align-content">
            <app-covid-news></app-covid-news>
          </div>
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText>
          <div>Estatística COVID</div>
        </ng-template>
        <ng-template #content>
          <div class="align-content"></div>
        </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</div>
