:host::ng-deep {
  .align-content {
    padding-top: 20px;
    max-height: calc(100vh - 60px);
    overflow: scroll;
  }

  .statistic-content {
    padding-top: 20px;
    max-height: calc(100vh - 60px);
  }

  .covid-news-content {
    display: grid;
    column-gap: 15px;
    grid-template-columns: auto auto auto auto;
    row-gap: 20px;
  }

  .statistic-container {
    width: 800px;
    display: flex;
    justify-content: space-around;
  }

  .card-size {
    height: 100%;
  }

  @media screen and (max-width: 468px) {
    .covid-news-content {
      grid-template-columns: auto auto auto;
    }
  }
}
