<div class="row">
  <div class="col-md-6">
    <h3>Informação de contato:</h3>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h6>
      Endereço: 89258-809, Rua Roberto josé junks, 105, Ilha da figueira,
      Jaraguá do Sul, SC
    </h6>
    <h6>email: mateus.walz@gmail.com</h6>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Sobre o Produto:</h3>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h6>
      Produto inspirado em uma sistema de hospital fictício, possuindo módulos
      de cadastro, consulta, overflow de internação, tendo como seu principal
      objetivo estudos academicos.
      <hr />
    </h6>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Sobre a desenvolvimento do produto:</h3>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h6>
      Utilizando o framework Angular para o desenvolvimento front-end, e
      utilizando para o back-end api em Java com Spring Boot. O desenvolvimento
      do produto possui a utilização de design patterns tanto no front-end
      quanto ao back-end sendo alguns deles, lazy load, repository e MVC.
    </h6>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h6>Versão do sistema: 1.0.0</h6>
    <hr />
  </div>
</div>
