.container-body {
  background-image: url("https://img.wallpapic-br.com/i657-935-619/thumb/coloridos-azuis-arte-digital-imagem-de-fundo.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.login-box {
  position: absolute;
  top: 30%;
  left: 40%;
}

.user_card {
  height: 400px;
  width: 350px;
  background: #f6f1e9;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: rgb(180, 199, 247);
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.align-footer-button {
  display: flex;
  justify-content: center;
}

.align-form {
  margin-top: 100px;
}

.align-title{
  text-align: center;
}
