<div id="content" class="fill">
  <ejs-formgrid
    [dataSource]="dataSource"
    [columns]="columns"
    (command)="onCommand($event)"
  >
  </ejs-formgrid>
</div>

<app-modal #modal modalHeader="Cadastro de Item">
  <ng-template #bodyTemplate>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <ejs-textbox formControlName="id" placeholder="Código">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <ejs-textbox
              formControlName="description"
              placeholder="Descrição"
              formErrorHandler
            >
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="align-check-box">
              <ejs-checkbox label="Item Pai" formControlName="isFather">
              </ejs-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <ejs-textbox
              formControlName="itemFather"
              placeholder="Título Item Pai"
              formErrorHandler
            >
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <ejs-textbox
              formControlName="descriptionFather"
              placeholder="Desrição Item Pai"
              formErrorHandler
            >
            </ejs-textbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <ejs-textbox
              formControlName="onlyPath"
              placeholder="Path Único"
              formErrorHandler
            >
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-4">
          <div class="align-check-box">
            <ejs-checkbox label="Visível" formControlName="visible">
            </ejs-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <ejs-textbox
              formControlName="path"
              placeholder="Rota (Ex: menu/administration/user)"
              formErrorHandler
            >
            </ejs-textbox>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footerTemplate>
    <button
      ejs-button
      buttonSave
      [disabled]="!this.form.dirty"
      (click)="onSaveClick()"
    ></button>
    <button ejs-button buttonCancel (click)="onModalClose()"></button>
  </ng-template>
</app-modal>
