<div id="content" class="fill">
  <ejs-formgrid
    [dataSource]="dataSource"
    [columns]="columns"
    (command)="onCommand($event)"
  >
  </ejs-formgrid>
</div>

<app-modal #modal modalHeader="Cadastro de Permissão">
  <ng-template #bodyTemplate>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <ejs-textbox formControlName="id" placeholder="Código">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <ejs-dropdownlist
              formControlName="userName"
              placeholder="Usuários"
              formErrorHandler
              [dataSource]="users"
              [fields]="{ value: 'id', text: 'userName' }"
            >
            </ejs-dropdownlist>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <ejs-dropdownlist
              formControlName="itemId"
              placeholder="Itens"
              formErrorHandler
              [dataSource]="items"
              [fields]="{ value: 'id', text: 'description' }"
            >
            </ejs-dropdownlist>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footerTemplate>
    <button
      ejs-button
      buttonSave
      [disabled]="!this.form.dirty"
      (click)="onSaveClick()"
    ></button>
    <button ejs-button buttonCancel (click)="onModalClose()"></button>
  </ng-template>
</app-modal>
